form.basic-form input,
form.basic-form select {
    font-size: inherit;
}

.basic-form {
    margin-left: 4em;
    width: 850px;
}

.basic-form .controls {
    /*overflow: auto; *//* http://www.quirksmode.org/css/clearing.html */
    /*width: 100%;*/
    position: relative;
}

.basic-form .controls.error {
    background-color: #ffd5bf;
    margin: 2px 0;
}

.basic-form .error-inline {
    float: right;
    color: #d22100;
    width: 320px;
    padding-top:12px;
}

.basic-form .error-global {
    display: block;
    color: #d22100;
    padding-bottom: 2px;
}

.basic-form .error-inline-empty {
    clear: both;
}

.basic-form .controls label {
    display: block;
    width: 200px;
    height:100%;
    padding-top: 12px;
    padding-left: 2px;
    float: left;
    clear: left;
}

.basic-form .form-field-input {
    padding: 4px;
    width: 320px;
    margin-left: 200px;
    margin-right: 330px;
}

/*required field*/
form.basic-form small {
    color: #d22100;
}

/* text input */
form.basic-form .input-text {
    border: 2px #01a1de solid;
    border-radius: 4px;
    padding: 2px 4px;
    width: 308px; /*320 - 2 * padding - 2 * border*/
}

form.basic-form .input-multiline {
    border: 2px #01a1de solid;
    border-radius: 4px;
    padding: 2px 4px;
}

form.basic-form .input-multiline.small {
    width: 308px; /*320 - 2 * padding - 2 * border*/
}

form.basic-form .input-checkbox {
    border: 2px #01a1de solid;
    width: 20px;
    height: 20px;
    border-radius: 4px;
    display: inline-block;
    vertical-align: middle;
    /*margin-left: 151px;*/
}

form.basic-form .checkbox-hint {
    display: inline-block;
    width: 288px;
    vertical-align: middle;
    padding-top: 8px;
}

form.basic-form .dropdown {
    box-sizing:content-box;
    -ms-box-sizing:content-box;
    -moz-box-sizing:content-box;
    -webkit-box-sizing:content-box;
}

/* date input */
form.basic-form .date-input-forms span {
    float: left;
    height: 1em;
    margin-top: 8px;
}

form.basic-form .date-input-month span {
    margin-top: 10px;
}

form.basic-form .date-input-forms input {
    width: 200px;
    float: right;
    border: 2px #01a1de solid;
    border-radius: 4px;
    padding: 2px 4px;
}

form.basic-form .date-input-forms select {
    width: 200px;
    float: right;
    border: 2px #01a1de solid;
    border-radius: 4px;
    padding: 2px 4px;
    margin: 4px 0;
    background-color: white;

    box-sizing:content-box;
    -ms-box-sizing:content-box;
    -moz-box-sizing:content-box;
    -webkit-box-sizing:content-box;
}

form.basic-form .online-editor {
    width: 100%;
    height: 300px;
}

form.basic-form .online-editor.small {
    height: 150px;
}

form.basic-form .grayed {
    color: #888;
}

form.basic-form .date-input-field {
    overflow: auto;
}

/* address input */

form.basic-form .addr-input-field span {
    float: left;
    height: 1em;
    margin-top: 8px;
}

form.basic-form .addr-input-field input {
    width: 100px;
    float: right;
    border: 2px #01a1de solid;
    border-radius: 4px;
    padding: 2px 4px;
    margin: 2px 0;
}

form.basic-form .addr-input-field.region input,
form.basic-form .addr-input-field.city input,
form.basic-form .addr-input-field.street input
{
    width: 200px;
}

form.basic-form .addr-input-field {
    overflow: auto;
}

/* submit buttons */

.form-actions {
    margin-left: 200px;
    width: 320px;
    text-align: center;
}

form.basic-form .form-button {
    display: inline-block;
    color: #ffffff;
    border: 1px solid #00008b;
    /*border: 1px solid #01a1de;*/
    padding: 4px 8px;
    margin: 4px;
    background-color: #01a1de;
    /*background: #900 url(../images/bt01.png) repeat-x 50%;*/
    text-shadow: 1px 1px 1px #00008b;
    border-radius: 4px;
    text-decoration: none;
    font: inherit;
    font-size: 1.5em;
    vertical-align: middle;

    box-sizing:content-box;
    -ms-box-sizing:content-box;
    -moz-box-sizing:content-box;
    -webkit-box-sizing:content-box;
}

form.basic-form .form-button:hover {
    color: /*#f5972d*/ #ffe380;
    cursor: pointer;
}

form.basic-form .error {
    background-color: #ffd5bf;
}