@import models.applications.Application
@import models.User
@import plugins.applications.Applications
@import views.widgets.FormsWidget
@import views.widgets.ApplicationsWidget
@import views.widgets.AdminWidget
@import views.htmlblocks.HtmlBlockWidget

@(plugin: Applications, application: Application, applicationUser: User)
@main_with_menu(Event.current.getTitle + " просмотр заявки " + application.getName)(scala.List(HtmlBlockWidget.get, AdminWidget.get, ApplicationsWidget.get, FormsWidget.get)) { } {
    @if(flash.containsKey("page-info")) {
        <p class="info-box">@flash.get("page-info")</p>
    }

    <h1>Заявка @application.getName</h1>
    @* TODO now these fields are hard coded *@
    <p class="info-box">@applicationUser.getFullName <br>
        @applicationUser.getInfo.get("school_name") <br>
        @applicationUser.getInfo.get("address")</p>

    @list_apps(plugin, plugin.getPaymentTypesForOtherUser, applicationUser, scala.List(application), showNumbers = false, showRemove = false)

    @Event.current.getHtmlBlock("view_single_application_list_bottom_" + plugin.getRef).format
}