section.answers-gallery-problem {
    margin: 1em 0;
}

.answers-gallery-submission {
    margin: 0.6em;
    display: inline-block;
    padding: 1em;
    background-color: #fdf5a7;
}

.answers-gallery-submission a {
    margin-top: 1em;
    display: block;
    text-align: center;
}

.answers-gallery-user-info {
    font-style: italic;
}