/*
@font-face {
    font-family: '';
    src: url(/~plugin/BebrasCards/CUOMOTYP.ttf) format('truetype');
}
*/

.card-view {
    display: block;
    margin: 0 auto;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
}

body {
    background-color: #F0F0F0;
}

.loading-progress {
    padding-top: 1em;
    text-align: center;
}

.card-info {
    margin: 0 auto;
    font: 1em black Arial, sans-serif;
}

.pic-description {
    display: none;
    margin-top: 1em;
}

.winner-info {
    display: none;
    /*font-size: 40px; !*the same as on a card*!*/
    margin-top: 0.5em;
    margin-bottom: 0.5em;
}

.start-container {
    position: absolute;
    left: 0;
    right: 0;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
    pointer-events:none;
}

.winner-container {
    display: none;
    position: absolute;
    left: 0;
    right: 0;
    text-align: center;
    font: 13px 'Arial', sans-serif;
    text-shadow: 1px 1px 2px #fff;
    padding-top: 30px;
    color: #424242;
}

.winner-container a, .winner-container a:hover, .winner-container a:visited {
    color: #424242;
}

.canvas-container {
    position: relative;
}

.todo-info {
    /*background-color: rgba(255, 255, 255, 0.85);*/
    display: none;
}

.todo-info-text {
    width: 705px;
    text-align: center;
    font-size: 3em;
    margin: 0 auto;
    padding: 46px 0;
    color: #9b6f0b;
}

.pic-description .country {
    font-weight: bold;
}

.pic-description span {
    display: none;
}

.winner-info a {
    text-decoration: none;
    color: #9b6f0b;
}

.winner-info a:hover {
    text-decoration: underline;
}

.b {
    font-weight: bold;
}

.copy-view-to-url {
    color: #9b6f0b;
    border: none;
    background: none;
    font-size: 1em;
    padding: 0;
    text-align: center;
}

.hints {
    display: none;
    margin-top: 0.4em;
}

.hints span {
    margin-right: 0.8em;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
    color: #9b6f0b;
}

.hints span.selected {
    cursor: default;
}

.hints span.selected, .hints span:hover {
    text-decoration: underline;
}
