p.time {
    padding-bottom: 0.2em;
    vertical-align: middle;
}

p.time iframe {
    display: inline;
    margin-bottom: -6px;
}

.contest-select {
    text-align: center;
}

.contest-select a:visited {
    color: #ffffff;
}

.contest-action a, .contest-action a:visited {
    color: #a51e00;
}

.invisible-form {
    display: inline;
}

.big-title {
    text-transform: uppercase;
    text-align: center;
    margin-bottom: 0.5em;
}

.big-title span {
    color: red;
}

/* contest administration */

.go-contest-admin {
    float: right;
}

/* short contest */

.short-contests .info-box .results-and-description,
.short-contests .info-box .extra-contest-info
{
    display: none;
}

.short-contests .info-box {
    position: relative;
}

.short-contests .info-box .contest-status-info {
    /*position: absolute;*/
    /*top: 0;*/
    /*right: 0;*/
    /*float: right;*/
    position: absolute;
    left: 8em;
    /*bottom: 1em;*/
}

.short-contests .info-box .info {
    width: 100%;
}

.short-contests .info-box .header.big-title {
    text-align: left;
}

.short-contests .info-box .contest-select {
    text-align: left;
}

.short-contests .info-box .contest-select .link-button {
    margin-top: 0;
}