/*TODO get rid of #text-area*/

#text-area img {
    margin: 0 3pt 3pt 3pt;
}

#text-area {
    /*margin-left: 220pt;*/
    width: 100%;
    font-family: "tahoma", "arial", "verdana", "Lucida Sans", sans-serif;
    border-spacing: 0;
}

#text-area h1 {
    text-align: center;
    margin-top: 1em;
    margin-bottom: 0.5em;
    color: #5b5e35;
}

#text-area h2 {
    margin-top: 0.5em;
    margin-bottom: 0.3em;
    color: #5b5e35;
}

#text-area p {
    padding-top: 2pt;
    margin-top: 1pt;
    margin-bottom: 1pt;
}

#text-area td.info-col {
    padding-left: 8pt;
    padding-right: 4pt;
    vertical-align: text-top;
    width: 50%;
    /*border-right: solid 1px black;*/
}

#text-area ol, #text-area ul {
    padding: 0;
    margin: 0;
}

#text-area li {
    list-style: upper-alpha inside;
    padding-bottom: 6pt;
    color: #000088;
}

#text-area li span {
    color: #000000;
}

/* ---------------------------- */

.two-columns-page {
    width: 100%;
    border-spacing: 0;
}

.two-columns-page td.info-col {
    padding-left: 8pt;
    padding-right: 4pt;
    vertical-align: text-top;
    width: 50%;
}

.contents {
    line-height: 1.2;
}

h3 {
    font-weight: bold;
    margin-bottom: 0.3em;
}

table.kvit-data {
    line-height: 1.4;
}

table.kvit-data td {
    padding-bottom: 0.5em;
}

.two-columns-page td {
    width: 50%;
}

span.pre {
    font-family: monospace;
}