.content p {
    line-height: 1.8;
    font-size: 1.2em;
}

.content select {
    font-size: 1em;
    padding: 0 0.3em;
    border: 1px solid #f3a25f;
    background-color: #fff6c2;
}

.content .link-button {
    font-size: 1.2em;
    margin-top: -1em;
}

.content select option.disabled {
    color: #AAAAAA;
}