@(index:String, scores:Int, showSolutions:Boolean, title:String, country:String, countryName:String, statement:String, problemScript:String, images:java.util.Map[String, String], explanation:String, informatics:String, height:Int, uniqueId:String, correctAnswer:String, taskStatementCssClass:String)
@import scala.List
<div class='task-title section-title'>
    <span class='problem-index'>Задача @index.</span>
    <span class='problem-title'>@Html(title)</span>
    @if(scores != 0) {
        <span class='problem-scores'>@scores&nbsp;баллов</span>
    }
    <span class='problem-country'><img alt="@country" src="@routes.Assets.at("images/flags/" + country + ".png")">@countryName</span>
</div>
<div class='dyn-type'>@uniqueId</div>
<div class='task-statement @taskStatementCssClass'>
    @Html(statement)
    <div id='container-@uniqueId' style='height:@{height}px'></div>
    <div class='bebras-dyn-status'>Загрузка...</div>
    <div class='bebras-dyn-button bebras-dyn-button-main'>Загрузка...</div>
    <div class='bebras-dyn-button bebras-dyn-button-undo'>Загрузка...</div>
</div>
@if(showSolutions) {
    <div class='section-title clear'>Решение</div>
    <div class='task-explanation'>
        @Html(explanation)
    </div>
    @if(informatics != null && informatics != "") {
        <div class='section-title'>Это информатика!</div>
        <div class='task-informatics'>
            @Html(informatics)
        </div>
    }
    <div class="hidden dyn_correct_answer">@correctAnswer</div>
}
<div class='footer'></div>
<script type="text/javascript">
    $(function() {
        var var_beb_dyn_images_@{uniqueId} = {
        @for((imageId, imageUrl) <- images) {
            '@imageId' : '@imageUrl',
        }
            '__delete__me__': 42
        };

        delete var_beb_dyn_images_@{uniqueId}['__delete__me__'];

        var var_beb_dyn_class_@{uniqueId} = function (container, pictures) {
            @Html(problemScript)
        };

        add_bebras_dyn_problem('@uniqueId', var_beb_dyn_class_@uniqueId, var_beb_dyn_images_@uniqueId);
    });
</script>