@(title:String, country:String, statement:String, problemScript:String, imagesHtml:String, explanation:String, informatics:String, correctAnswer: String, dependencies: String, taskStatementCssClass: String, height:Int)
@import  models.newproblems.bebras.BebrasProblem
<p><span class='bebras-editor-title'>Название:</span> <input class='bebras-editor' value="@title" name="title"></p>
<p><span class='bebras-editor-title'>Страна:</span>
<select class='bebras-editor' name="country">
    @for((code, name ) <- BebrasProblem.COUNTRY_TO_NAME) {
       <option value="@code"@if(country == code){ selected}>@code - @name</option>
    }
    </select>
</p>

<p class='bebras-editor-title'>Условие</p>
<textarea rows=10 class='bebras-editor' name="statement">@statement</textarea>

<p class='bebras-editor-title'>Изображения</p>
<textarea rows=10 class='bebras-editor' name="images">@imagesHtml</textarea>

<p class='bebras-editor-title'>Скрипт</p>
<textarea rows=20 name="script">@problemScript</textarea>


<p class='bebras-editor-title'>Объяснение</p>
<textarea rows=10 class='bebras-editor' name="explanation">@explanation</textarea>

<p class='bebras-editor-title'>Это информатика!</p>
<textarea rows=10 class='bebras-editor' name="informatics">@informatics</textarea>

<p><span class='bebras-editor-correct_answer'>Правильный ответ:</span> <input class='bebras-editor' value="@correctAnswer" name="correct_answer"></p>
<p><span class='bebras-editor-dependencies'>Зависимости:</span> <input class='bebras-editor' value="@dependencies" name="dependencies"></p>
<p><span class='task-statement-css-class'>Дополнительный css-класс для условия:</span> <input class='bebras-editor' value="@taskStatementCssClass" name="task_statement_css_class"></p>

<p><span class='bebras-editor-title'>Высота:</span> <input class='bebras-editor' value="@height" name="height"></p>