@(form:models.forms.InputForm, rawForm:models.forms.RawForm, action:Call, submit_text:String, need_undo:Boolean)
@import models.forms.InputForm
@import models.forms.RawForm
@import play.mvc.Call
@import scala.collection.JavaConversions._
<form class="basic-form" action="@action" method="POST">
    @if(rawForm.hasGlobalErrors) {
        <span class="error-global">@Html(rawForm.getGlobalErrors().toList.mkString(", "))</span>
    }
    <fieldset>
    @for(field <- form.getFields) {
		@Html(field.getHtmlBefore)
        <div class="controls @if(rawForm.hasFieldErrors(field.getName)) {error}">
            <label>@Html(field.getTitle) @if(field.isRequired) {<small>*</small>}</label>
            @if(rawForm.hasFieldErrors(field.getName)) {
                <div class="error-inline">@rawForm.getFieldErrors(field.getName).toList.mkString(", ")</div>
            }
            <div class='form-field-input'>
                @field.format(rawForm)
            </div>
            <div class="error-inline-empty"></div>
        </div>
    }
    </fieldset>
    <div class="form-actions">
        <input type="submit" value="@submit_text" class="form-button">
        @if(need_undo) {
            <input type="button" class="form-button form-undo" value="@Messages("button.undo")">
        }
    </div>
</form>
