@(status:String, pagedUserProblems:java.util.List[java.util.List[models.newproblems.ConfiguredProblem]], problem2index:java.util.Map[models.newproblems.ConfiguredProblem, Integer], jsonContestInfo:String, problemsWidgets:views.widgets.Widget)(show_header:Boolean, show_footer:Boolean, scrolling:Boolean, menu_to_left:Boolean, show_menu:Boolean, top_pages:Boolean, bottom_pages:Boolean, next_buttons:Boolean, hide_stop_button_in_infinite_time:Boolean)
@import plugins.questionnaire.QuestionnairePlugin
@import models.utils.Utils
@import views.widgets.CssJsWidget
@import models.Contest
@import models.Event
@import views.widgets.ResourceLink
@import models.User
@import scala.List
@main_with_menu_ex(Event.current.getTitle)(List(/*new ResourceLink("polyfill.min.js"), */new ResourceLink("jquery.splitpages.js"), CssJsWidget get "contest", problemsWidgets))(show_header, show_footer, show_menu, scrolling, menu_to_left){
    @if(scrolling && status == "results") {
        <h1>Результаты соревнования:</h1>
        <div id='contest-results'>@info(User.current.getContestResults(Contest.current), Contest.current.getResultsInfoPattern, null)</div>
    }

    @if(top_pages && scrolling) {
        @format_pages_top(pagedUserProblems.length, "dont-move-down")
        @if(next_buttons) {
            @format_pages_bottom()
        }
    }
}{
    @if(scrolling && bottom_pages) {
        @if(next_buttons) {
            @format_pages_bottom()
        }
        @format_pages_top(pagedUserProblems.length, "")
    }
}{
    <div id='contest-time'>
        @if(Contest.current.isUnlimitedTime) {
            @if(!hide_stop_button_in_infinite_time) {
                <div id='time-status-info'>Время не ограничено</div>
                <div id='stop-contest'><span class='page-button'>Завершить</span></div>
            }
        } else {
            <div id='time-status-info'>Осталось</div>
            <div id='time-info'>? минут</div>
            <div id='stop-contest'>
                <span class='page-button'>Завершить досрочно</span>
                <span class="stop-contest-warning">
                    Будьте аккуратны! Эта кнопка завершит соревнование. После этого вы не сможете решать задачи. Переключайте задачи внизу экрана.
                </span>
            </div>
        }
        <div id='stop-confirmation' class='hidden'>
            <span class="stop-contest-warning">Вы собираетесь завершить соревнование, но у вас еще есть время на решение.
            Вы действительно хотите завершить соревнование?</span>
            <span class='page-button'>Подтвердите</span>
        </div>
    </div>
    @if(status != "going" && !show_menu) {
        <nav><a class='menu-item' href="@routes.Application.enter(Event.currentId)">Назад</a></nav>
    }
} {
    <div id='all-problems-in-pages'>

        <div class='contest-info hidden'>@Html(jsonContestInfo)</div>
        @if(scrolling) {
            <div class='hidden contest-is-scrolling'></div>
        }
        @if(!scrolling && status == "results") {
            <h1>Результаты соревнования:</h1>
            <div id='contest-results'>@info(User.current.getContestResults(Contest.current), Contest.current.getResultsInfoPattern, null)</div>
        }
        @if(top_pages && !scrolling) {
            @format_pages_top(pagedUserProblems.length, "dont-move-down")
            @if(next_buttons) {
                @format_pages_bottom()
            }
        }
        @for((page, pageIndex) <- pagedUserProblems.zipWithIndex) {
            <div class='page@if(pageIndex > 0){ hidden}'>
            @*<div class='page'>*@
            @for(problem <- page) {
                <div class='problem'><span class='hidden pid'>@problem2index(problem)</span>@*TODO add type info and rewrite contest.js*@
                    @problem.getProblem.format("" + (1 + problem2index(problem)), status == "results", problem.getSettings, User.current.getContestRandSeed(Contest.current.getId))
                    <div class='footer'></div>
                </div>
            }
            </div>
        }
        @if(bottom_pages && !scrolling) {
            @if(next_buttons) {
                @format_pages_bottom()
            }
            @format_pages_top(pagedUserProblems.length, "")
        }
    </div>

    <div id='contest-finished-info' class="hidden">
        <h1>Соревнование завершено</h1>
        <p class='warning'>
        @if(Contest.current.resultsAvailableImmediately()) {
                Результаты и правильные ответы доступны:&nbsp;&nbsp;&nbsp;<a class='link-button' href="@routes.Contests.contest(Event.currentId, Contest.current.getId, "normal")">Просмотреть результаты</a>
        } else {
            @if(Contest.current.resultsNotAvailableAtAll) {
                Результаты и правильные ответы будут доступны позже.
            } else {
                Результаты и правильные ответы будут доступны: <b>@Utils.formatContestDate(Contest.current.getResults).</b> <!--TODO report at_f. does not work-->
            }
        }
        </p>
        <p class='hidden answer-sending-info answer-sending-info-do'>Отсылка ответов...</p>
        <p class='hidden answer-sending-info answer-sending-info-ok'>Все ваши ответы отосланы на проверку</p>
        <p class='hidden answer-sending-info answer-sending-info-fail warning'>ВНИМАНИЕ! В данный момент связь с Интернетом отсутствует, поэтому некоторые ваши ответы сохранены на этом компьютере,
            но не отосланы на проверку. Зайдите на эту страницу позже, когда появится связь, и ответы будут отосланы.</p>

        @if(!Contest.current.resultsAvailableImmediately()) {
            <p class='exit-button'><a class='link-button' href="@routes.Application.enter(Event.currentId)">Выход</a></p>
        }

        @*TODO this is an ad-hoc right and ad-hoc checking of plugin*@
        @defining(Event.current.getPluginByType(classOf[QuestionnairePlugin]).asInstanceOf[QuestionnairePlugin]) { questionnairePlugin =>
            @if(questionnairePlugin != null && !Contest.current.isAvailableForAnon) { @*TODO test also show regime*@
                <br>
                <p style="text-align: center; color: red; font-weight: bold; font-family: Arial sans-serif; font-size: 2em">Поделитесь с самым главным бобром своими впечатлениями о конкурсе!<br> @*TODO read this text from plugin*@
                    <a class="link-button" href="@questionnairePlugin.getCall">Поделиться впечатлениями!</a>
                </p>
            }
        }
    </div>
}