@(contest:models.Contest, contestIndex:Int)
@defining(User.current().getContestStatus(contest)) { status =>
<div class='info-box'>
    <div class='info'>
        <p class='header big-title'>@contest.getName@if(contest.isOnlyAdmin) {<span><br>(Только для администратора)</span>}</p>
        <div class="contest-status-info">
            <p><span class='title'>Статус:</span> <span class='data important'>
            @status match {
                case 1 => {
                    соревнование идет!
                }
                case 2 => {
                    доступны результаты
                }
                case 3 => {
                    соревнование окончено
                }
                case 4 => {
                    соревнование пройдено
                }
                case 5 => {
                    вы можете начать соревнование
                }
                case 6 => {
                    соревнование еще не началось
                }
                case 7 => {
                    доступны сокращенные результаты
                }
            }
            </span></p>
            @if((contest.isAllowRestart || User.current.hasEventAdminRight) && User.current.userParticipatedAndFinished(contest)) {
                <form class='invisible-form' action="@routes.Contests.restart(Event.current.getId, contest.getId)" method="POST">
                    <p class='contest-action'><a href='#'>Сбросить результаты, чтобы попробовать еще раз</a></p>
                </form>
            }
        </div>
        <div class="extra-contest-info">
            <p class='skip'>&nbsp;</p>
            <p><span class='title'>Начало:</span> <span class='data'>@models.utils.Utils.formatContestDate(contest.getStart)</span></p>
            <p><span class='title'>Окончание:</span> <span class='data'>@utils.Utils.formatContestDate(contest.getFinish)</span></p>
            @if(!contest.resultsNotAvailableAtAll) {
                <p><span class='title'>Результаты:</span> <span class='data'>
                @if(contest.resultsAvailableImmediately) {
                    доступны сразу
                } else {
                    @utils.Utils.formatContestDate(contest.getResults)
                }
                </span></p>
            }
            <p><span class='title'>Минут на прохождение:</span>
                <span class='data'>
                @if(contest.isUnlimitedTime) {
                    неограничено
                } else {
                    @contest.getDuration
                }
                </span>
            </p>
        </div>
        @if(!contest.isShowProblemsOnContestsPage) {
            <p class='contest-select'>
            @status match {
                case 1 | 2 | 3 | 4 => {
                    <a class='link-button' href='@routes.Contests.contest(Event.current.getId, contest.getId, "normal")'>Перейти</a>
                }
                case 5 => {
                    <a class='link-button' href='@routes.Contests.startContest(Event.current.getId, contest.getId)'>Начать</a>
                }
                case 6 | 7 => { &nbsp; }
            }
            </p>
        }
        @*<p>Полные результаты соревнования доступны ограниченное количество времени</p> TODO убрать*@
    </div>
    <div class='results-and-description'>
        <p class='header big-title'>&nbsp;</p>
        @if(status == 2 || status == 7 || status == 3 && User.current.resultsAvailable(contest)) {
            <p class='header'>Результаты соревнования</p>
            <div><p>@info(User.current.getContestResults(contest), contest.getResultsInfoPattern, null)</p></div>
        }
        @if(contest.getDescription != null) {
            <div class="description">
                <p class='header'>Описание</p>
                <p>@contest.getDescription</p>
            </div>
        }
    </div>

    <div class='footer'></div>

    @if(User.current.hasEventAdminRight) {
        <form action="@routes.ContestAdministration.moveContestUp(Event.currentId, contest.getId)" method="POST" class='actions-move-up-@contest.getId'></form>
        <form action="@routes.ContestAdministration.moveContestDown(Event.currentId, contest.getId)" method="POST" class='actions-move-down-@contest.getId'></form>
        <form action="@routes.ContestAdministration.removeContest(Event.currentId, contest.getId)" method="POST" class='actions-remove-@contest.getId'></form>

        <p>
            @if(contestIndex != 0) {
                <a href="#" class='submit actions-move-up-@contest.getId' title="Переместить вверх">↑</a>
            }
            @if(contestIndex != Event.current.getContestsAvailableForUser.size - 1) {
                <a href="#" class='submit actions-move-down-@contest.getId' title="Опустить вниз">↓</a>
            }
            <a href="#" class='submit actions-remove-@contest.getId' title="Удалить соревнование">⨯</a>

            <a class='go-contest-admin' href="@routes.ContestAdministration.contestAdmin(Event.currentId, contest.getId)">Администрирование соревнования</a>
        </p>
    }

    @if(contest.isShowProblemsOnContestsPage && status != 6 && status != 7) {
        @for(problemsPage <- contest.getPagedUserProblems(User.current); (confProblem, pid) <- problemsPage.zipWithIndex; problem = confProblem.getProblem) {
            @* TODO some statuses mean that we should not show problems at all*@
            <div class='problem'><span class='hidden pr_type'>@problem.getType</span>
                @problem.format("" + (pid + 1), status == 2 || status == 3 && User.current.resultsAvailable(contest), null, 0)
            </div>
        }
    }
</div>
}