@(form:models.forms.RawForm)
@import views.widgets.FormsWidget
@import models.forms.RawForm
@import models.Event
@import models.Forms
@import scala.List
@main_with_menu(Event.current.getTitle)(List(FormsWidget.get)) { } {
    <h1>@Messages("page.recovery.title")</h1>
    <p class="warning">@Messages("form.enter_for_password_restore")</p>
    @Forms.getPasswordRemindForm.formatExtended(form, routes.Registration.doPasswordRemind(Event.currentId), false, "form.do_remind")
}