@(tableTitle:String, showSearch:Boolean, comment:String, titles:java.util.List[String], data:java.util.List[Array[Object]], tableIndex:Int, viewAsTable:Boolean,
        searchTitles:java.util.List[String], searchFields:java.util.List[String], searchValues:java.util.List[String],
        fullTextSearchValue:String, inside:Boolean)
@import views.widgets.ResourceLink
@import views.widgets.AdminWidget
@main_with_menu(Event.current.getTitle)(scala.List(new ResourceLink("tables.css"), AdminWidget.get)) { } {
    <p class='table-actions'>
        <a target="_blank" href="@routes.Tables.showTablePrint(Event.currentId, tableIndex)"><img src='@routes.Assets.at("images/gnome_text_x_generic.png")'>Распечатать</a>
        <a href="@routes.Tables.csvTable(Event.currentId, tableIndex)"><img src='@routes.Assets.at("images/excel.png")'>Скачать в формате Excel</a>
    </p>
    <h1>@tableTitle</h1>
    <div style="clear:both"></div>

    @*display search table*@
    @if(showSearch) {
        <div class='fast-search'>
            <h2>Поиск</h2>

            <form method="post" class='data-search-table'>
                <table>
                @for((sf, si) <- searchFields.zipWithIndex) {
                    <tr>
                        <td><label for="t@tableIndex-@sf">@searchTitles(si)</label></td>
                        <td><input id='t@tableIndex-@sf' type='text' name='@sf' value='@searchValues(si)'></td>
                    </tr>
                }
                </table>
                <input type='submit' value='Искать'>
                &nbsp;&nbsp;&nbsp;
                <a href='@routes.Tables.showTable(Event.currentId, tableIndex)'>Очистить фильтры</a>
            </form>
        </div>@* no space here *@<div class='universal-search'>
            <h2>Полнотекстовый поиск</h2>

            <form method="post" class='data-search-table'>
                <input class='long' type='text' name='-full-text-search' value='@fullTextSearchValue' autofocus="autofocus">
                <input type='submit' value='Искать'>&nbsp;&nbsp;&nbsp;&nbsp;<input name='-full-text-search-inside' type='checkbox' value="1"@if(!inside){ checked}>&nbsp;только полные совпадения
            </form>
            <p class='warning'>* этот вид поиска универсален, но работает медленно</p>
        </div>

        <br>
    }

    @if(comment != null) {
        @Html(comment)
    }

    @if(data.size() == 0) {
        <p class='warning'>Данных нет</p>
    } else {
        @if(viewAsTable) {
            <table class='data-table'>
                <thead><tr>
                @for(title <- titles) {
                    <td>@title</td>
                }
                </tr></thead>
                <tbody>
                @for(line <- data) {
                    <tr>
                    @for(element <- line) {
                        <td>@element</td>
                    }
                    </tr>
                }
                </tbody>
            </table>
        } else {
            <div class='data-table'>
                @for((line, line_ind) <- data.zipWithIndex) {<div class='dl'><div class='de' title='№'><b>@(line_ind + 1)</b></div>@for((element, ind) <- line.zipWithIndex) {<div class='de' title="@titles.get(ind)">@element</div>}</div>}
            </div>
        }
    }
}